{% extends 'accounts/main.html' %}

{% block content %}
<h1> Welcome to your Dashboard</h1>
<table class="table" border="2">
    {% if current_match is not None %}
    <tr><th colspan="10" style="text-align:center;" > Current Match</th></tr>
    <tr>
        <th scope="col"> Match </th>
        <th scope="col"> Team1 Selected by</th>
        <th scope="col"> Match team1 </th>
        <th scope="col"> Match team2 </th>
        <th scope="col"> Team2 Selected by</th>
        <th scope="col"> Match venue </th>
        <th scope="col"> Match Status </th>
    <tr>

    <tr>
    <td>{{current_match.description}}</td>
    <td>{{current_match_sel1}}</td>
    <td>{{current_match.team1}}</td>
    <td>{{current_match.team2}}</td>
    <td>{{current_match_sel2}}</td>
    <td>{{current_match.venue}}</td>
    <td>{{current_match.result}}</td>
    </tr>
    {% endif %}

</table>
<table class="table" border="2">
    {% if next_match is not None %}
    <tr><th colspan="10" style="text-align:center;" > Upcoming Match</th></tr>
    <tr>
        <th scope="col"> Match </th>
        <th scope="col"> Team1 Selected by </th>
        <th scope="col"> Match team1 </th>
        <th scope="col"> Match team2 </th>
        <th scope="col"> Team2 Selected by</th>
        <th scope="col"> Match venue </th>
        <th scope="col"> Match Status </th>
    <tr>
    <tr>
        <td>{{next_match.description}}</td>
        <td>{{next_match_sel1}}</td>
        <td>{{next_match.team1}}</td>
        <td>{{next_match.team2}}</td>
        <td>{{next_match_sel2}}</td>
        <td>{{next_match.venue}}</td>
        <td>{{next_match.result}}</td>
    </tr>
    {% endif %}
</table>
<table class="table" border="2">
    {% if last_match is not None %}
    <tr><th colspan="10" style="text-align:center;" > Last Match</th></tr>
    <tr>
        <th scope="col"> Match </th>
        <th scope="col"> Team1 Selected by </th>
        <th scope="col"> Match team1 </th>
        <th scope="col"> Match team2 </th>
        <th scope="col"> Team2 Selected by</th>
        <th scope="col"> Match venue </th>
        <th scope="col"> Match Status </th>
    <tr>
    <tr>
        <td>{{last_match.description}}</td>
        <td>{{last_match_sel1}}</td>
        <td>{{last_match.team1}}</td>
        <td>{{last_match.team2}}</td>
        <td>{{last_match_sel2}}</td>
        <td>{{last_match.venue}}</td>
        <td>{{last_match.result}}</td>
    </tr>
    {% endif %}
</table>

{% endblock %}