{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.PNG' %}"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/schedule">BET</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/results">Results</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Other's Bet
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%for i in all_users%}
                <li><a class="dropdown-item" href="/schedule/{{i.username}}">{{i.username}}</a></li>
              {% endfor%}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="d-grid gap-2 d-md-block">
        <span class="form-control me-2">Welcome {{request.user}} </span>
        {%if no_bets is not None%}
          <button type="button" class="btn btn-primary" onclick="window.location.href='/schedule'">
          No Bets <span class="badge bg-secondary">{{no_bets}}</span>
          </button>
        {% endif %}
        <button type="button" class="btn btn-outline-danger" onclick="window.location.href='/logout'">LogOut</button>
        </div>
      </form>
    </div>
  </div>
</nav>